 <!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetDevShop - O petshop do dev</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
</head>
<body>
<header>
    <div class="container">
        <a href="">PetDevShop</a>
        <form method="GET" action="">
            <input type="search" name="q" placeholder="Pesquise por raça" />
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class="active"><a href="/">Todos</a></li>
        <li class=""><a href="/cachorro">Cachorros</a></li>
        <li class=""><a href="/gatos">Gatos</a></li>
        <li class=""><a href="/peixes">Peixes</a></li>
    </ul>
</nav>
<section class="banner" style="background-image: url('images/allanimals.jpg')">Todos os animais</section>
<h2>Todos os animais disponíveis para adoção</h2>
{{#show}}
<div class="container list">
    <div class="Pastor-alemão">
        <img src="images/pastor-alemao.jpg" class="item--image" />
        <div class="item--name">Pastor-alemão</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="labrador-retriever">
        <img src="images/labrador.jpg" class="item--image" />
        <div class="item--name">Labrador-retriever</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="Zwergspitz">
        <img src="images/zwergspitz.jpg" class="item--image" />
        <div class="item--name">Zwergspitz</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="images/husky.jpg" class="item--image" />
        <div class="item--name">Husky Siberiano</div>
        <div class="item--color">Cor: Branco e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/golden.jpg" class="item--image" />
        <div class="item--name">Golden Retriever</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="images/poodle.jpg" class="item--image" />
        <div class="item--name">Poodle</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="images/bulldog.jpg" class="item--image" />
        <div class="item--name">Bulldog</div>
        <div class="item--color">Cor: Branco e Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
{{/show}}
<footer class="container">
    Feito com ❤ pela B7Web
</footer>
</body>
</html>